<ng-container *ngIf="!(gameObject.joined) && !results">
  <div class="with-header full-height-width-header">
    <div class="flex-column" style="height: 100%">
      <div style="flex: 5 5 0"></div>

      <div class="flex-row" style="flex: 0 1 0;">
        <div style="flex: 1 0;"></div>
        <h2 style="flex: 3 0 0; text-align: center">
          Please provide a valid quiz ID and a unique nickname!
        </h2>
        <div style="flex: 1 0;"></div>
      </div>

      <div style="flex: 1 1 0"></div>
      <!--    row1-->
      <div class="flex-row" style="flex: 0 1 0;">
        <div style="flex: 1 0;"></div>
        <app-quiz-id-input [(value)]="joinDetails.gameId.value" [error]="joinDetails.gameId.error"></app-quiz-id-input>
        <div style="flex: 1 0;"></div>
      </div>

      <!--    row2-->
      <div class="flex-row" style="flex: 0 1 0;">
        <div style="flex: 1 0;"></div>
        <app-user-nickname-input [(value)]="joinDetails.nickname.value"
                                 [error]="joinDetails.nickname.error"></app-user-nickname-input>
        <div style="flex: 1 0;"></div>
      </div>
      <div style="flex: 1 1 0"></div>

      <!--    row3-->
      <div style="flex: 0 1 0; text-align: center;" class="flex-row">

        <div style="flex: 1 0;"></div>
        <div style="flex: 0 1 250px;" class="flex-row">
          <button mat-raised-button color="warn" aria-label="Back button" routerLink="/">
            Back to Home
          </button>

          <div style="flex: 1 0;"></div>
          <button mat-raised-button [disabled]="joinDetails.nickname.value === '' || joinDetails.gameId.value === ''"
                  color="primary" aria-label="Play button" (click)="joinGame();">
            Join
          </button>
        </div>
        <div style="flex: 1 0;"></div>

      </div>

      <div style="flex: 5 5 0"></div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!gameObject.joined && results">

  <div class="with-header full-height-width-header">
    <div class="flex-row" style="height: 100%">
      <div style="flex: 5 5" *ngIf="!common.isPhone"></div>
      <div style="flex: 3 1; text-align: center; max-width: 100%;"
           [ngStyle]="{'flex-basis': common.isPhone ? '100%' : '20em'}"
           class="flex-column">

        <mat-card *ngFor="let ans of results.individualResult.answers"
                  matTooltip="The question is {{getLabel(ans.isCorrect)}}"
                  [ngClass]="{ 'qm-correct': ans.isCorrect === 'CORRECT', 'qm-incorrect': ans.isCorrect === 'INCORRECT', 'qm-not-answered': ans.isCorrect === 'NOTANSWERED' }">
          <mat-card-header class="flex-row" style="align-items: center">
            <div mat-card-avatar style="width: 60px; height: 60px;line-height: 60px; text-align: center;
            vertical-align: middle; background-color: #eeeeee;">
              #{{ans.questionNumber + 1}}</div>
            <div class="qm-result-question">
              {{results.publicQuestions[ans.questionNumber].model.question}}
            </div>
          </mat-card-header>
          <mat-card-content>
            <b>Right answers: </b><br>
            {{getRightAnswers(results.publicQuestions[ans.questionNumber])}}
          </mat-card-content>
        </mat-card>
      </div>
      <div style="flex: 5 5" *ngIf="!common.isPhone"></div>
    </div>
  </div>
  <div style="position: absolute; bottom: 5px; width: 100%;" class="flex-row" *ngIf="true">
    <button style="margin-right: 10px; margin-left: 10px;" mat-raised-button color="primary"
            (click)="results = undefined">
      back
    </button>
    <div style="flex: 1 1 0;"></div>
  </div>
</ng-container>


<ng-container *ngIf="gameObject.joined">

  <div class="with-header full-height-width-header">
    <div class="flex-row" style="height: 100%">
      <div style="flex: 5 5" *ngIf="!common.isPhone"></div>
      <div style="flex: 3 1; text-align: center; max-width: 100%;"
           [ngStyle]="{'flex-basis': common.isPhone ? '100%' : '20em'}"
           class="flex-column">
        <ng-container *ngIf="gameObject.question === undefined">
          Quiz starts in {{countDown.timeRemaining}} seconds
          <div>
            <mat-icon class="rotate">
              sync
            </mat-icon>
          </div>
          <h1>
            {{gameObject.title}}
          </h1>
          <h2>
            {{gameObject.description}}
          </h2>
        </ng-container>
        <ng-container *ngIf="gameObject.question !== undefined">
          <ng-container [ngSwitch]="gameObject.question.type">
            <ng-container *ngSwitchCase="'qm.multiple_choice'">
              <app-multiple-choices [index]="gameObject.questionInd" type="game" [gameModel]="gameObject.question.model"
                                    (answer)="changeAnswer($event)"></app-multiple-choices>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div style="flex: 5 5" *ngIf="!common.isPhone"></div>
    </div>
  </div>
  <div style="position: absolute; bottom: 5px; width: 100%;" class="flex-row" *ngIf="true">
    <div style="flex: 1 1 0;"></div>
    <button style="margin-right: 10px;" mat-raised-button color="primary"
            *ngIf="gameObject.joined && gameObject.question && !gameObject.sent" [disabled]="!gameObject.answer"
            (click)="submitAnswer()">
      Send
    </button>
    <span style="margin-right: 10px;" *ngIf="gameObject.joined && gameObject.question && gameObject.sent">
      Answer saved!
    </span>
  </div>
</ng-container>

