<div class="fullscreen">
  <div class="flex-column" style="height: 100%">
    <div style="flex: 5 5 0"></div>
    <!--    row1-->
    <div class="flex-row" style="flex: 0 1 0;">
      <div style="flex: 5 9 200px;"></div>
      <div style="flex: 1 1 200px;">
        <img [src]="'assets/vectors/logo.svg' | imgCache | async | sanitize:'resourceUrl'" style="max-width: 100%;" alt="Logo of Quiz Master"></div>
      <div style="flex: 5 9 200px;"></div>
    </div>
    <div style="flex: 1 1 0"></div>
    <!--    row2-->
    <div class="flex-row" style="flex: 0 1 0;">
      <div style="flex: 0 9 50px;"></div>
      <div style="flex: 1 1 200px; text-align: center; font-size: 1.5em; line-height: 1.2em;" class="title-font">
        In order to join a game, click on the Play button.
      </div>
      <div style="flex: 0 9 50px;"></div>
    </div>
    <div style="flex: 1 1 0"></div>

<!--    row3-->
    <div style="flex: 0 1 0; text-align: center;">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" routerLink="/game">
          <mat-icon>play_arrow</mat-icon>
        </button>
    </div>

    <div class="flex-column" style="flex: 5 5 0;">
      <div style="flex: 1 1 0;"></div>
      <div style="flex: 0 0 0;text-align: right;">
        <button mat-raised-button style="margin: 20px" color="accent" (click)="createQuiz()">Create Quiz</button>
      </div>
    </div>
  </div>
</div>


