<div class="fullscreen">
  <div class="flex-column" style="height: 100%">
    <div
      style="flex: 1 1 0; margin: 0 30%; font-size: 3em; line-height: 1.5em; text-align: center;   display: flex; justify-content: center;align-items: center;">
      In order to create Quizzes, you must log in first!
    </div>

    <div
      style="flex: 1 1 0; margin: 0 30%; font-size: 3em; line-height: 1.5em; text-align: center;   display: flex; justify-content: center;align-items: center;">
      <button mat-raised-button color="accent" (click)="googleLogin()"> Login with Google</button>
    </div>
  </div>
</div>

